.cardContainer {
  width: 30vw;
  height: 60vh;
}
.myCard {
  width: 100%;
  height: 100%;
}

.titleCard {
  text-align: "center";
  font-size: "2.5rem";
}
.myCard:before,
.myCard:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.myCard:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.ant-card-head {
  height: 10vh;
}

.cardContent {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignLeftClass {
  width: 15vw;
  text-align: left;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    width: 50vw;
    height: 30vh;
    margin-bottom: 2vh;
  }

  .cardContent {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .titleCard {
    font-size: 1rem;
  }

  .alignLeftClass {
    height: auto;
    width: 100%;
  }

  .startButton {
    font-size: 0.75rem;
  }

  .ant-card-extra {
    padding: 0;
  }

  .ant-card-head-title {
    padding: 0;
  }
  .ant-card-head {
    height: 10px;
  }

  .ant-card-body {
    height: auto;
    padding: 12px;
  }

  .seeGames {
    display: none;
  }
}
