.containerGod {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}
.wholeContainer {
  object-fit: cover;
  background-size: 100% 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100vw;
  overflow-y: hidden;
}

.authContainer {
  margin-bottom: 15vh;

  display: flex;
  text-align: center;
  align-items: center;
  padding: 30px;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}

.cardContainerLogin {
  width: 40vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.ant-card-body {
  padding: 24px;
  height: 60vh;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45vw;
  height: 80vh;
  justify-content: center;
}

.description {
  font-size: 2rem;
  margin-top: 2rem;
}

.descriptionImg {
  border-radius: 50%;
}

.context {
  padding-left: 1rem;
}

.titleContainer {
  font-size: 5rem;
  padding-top: 2.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .descriptionContainer {
    display: none;
  }
  .authContainer {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .wholeContainer {
    display: block;
  }

  .cardContainerLogin {
    width: 100%;
  }

  .form-control {
    font-size: 1rem;
  }
}
