.authForm {
  font-size: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.auth {
  width: 35vw;
}

.form-control {
  width: 100%;
  font-size: 22px;
  height: 2rem;
}

.form-group {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.bntClass {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.insBnt {
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .auth {
    width: 90vw;
  }
}
