.gameContainer {
  width: 100vw;
  height: 100vh;
}

.scoreDisplaying {
  display: flex;
  height: 15vh;
  width: 75vw;
  margin-left: 21vw;
}

.scores {
  padding: 2.5vh;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.player1 {
  width: 20vw;
  padding: 2.5vh;
}

.bloc {
  display: flex;
}
.mereBloc {
  float: right;
}

.usernamePlayer1 {
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 1vw;
  color: #086064;
}

.usernamePlayer2 {
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-right: 1vw;
  color: #ff5969;
}

.player1Color {
  border-radius: 1vw;
  width: 2vw;
  height: 2vw;
  background-color: #086064;
}

.energy {
  display: flex;
  margin-top: 2vh;
}

.energyPlayer1 {
  width: 2vw;
  height: 2vw;
  border: 0.1vw solid white;
  border-radius: 25%;

  background-color: #086064;
}

.player2 {
  width: 20vw;
  padding: 2.5vh;
}

.player2Color {
  border-radius: 1vw;
  width: 2vw;
  height: 2vw;
  background-color: #ff5969;
}

.energyPlayer2 {
  width: 2vw;
  height: 2vw;
  border: 0.1vw solid white;
  border-radius: 25%;
  background-color: #ff5969;
}

.energyEmpty {
  width: 2vw;
  height: 2vw;
  border: 0.1vw solid white;
  border-radius: 25%;
}

.grid {
  display: grid;
  margin-left: 20vw;
  margin-top: 1vw;
  border: 1px solid black;
}

.emptyCell {
  border: 1px solid black;
  background: white;
  border-radius: 50%;
  width: 33%;
  height: 33%;
}

.emptyCell:hover,
.canDup:hover,
.canJunp:hover,
.cantMove:hover {
  opacity: 0.7;
}

.lobbyButton {
  margin-left: 5vw;
}

.cell {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole {
  background: black;
  border-radius: 50%;
  width: 33%;
  height: 33%;
}

.cell:hover {
  opacity: 0.9;
  cursor: pointer;
}

.piecePlayer1 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  opacity: 0.75;
  width: 66%;
  height: 66%;
  background-color: #086064;
  /*border: 2px solid #679403;*/
}

.selectedPiecePlayer1 {
  border-radius: 166%;
  width: 66%;
  height: 66%;
  background-color: #086064;
}

.piecePlayer2 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  opacity: 0.75;
  width: 66%;
  height: 66%;
  background-color: #ff5969;
  /*border: 2px solid #679403;*/
}

.selectedPiecePlayer2 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  width: 66%;
  height: 66%;
  background-color: #ff5969;
  /*border: 2px solid #679403;*/
}

.shieldPlayer1 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  opacity: 0.75;
  width: 85%;
  height: 85%;
  background-color: #086064;
  border-style: double;
  border-color: white;
  border-width: 8px;
  /*border: 2px solid #679403;*/
}

.selectedShieldPlayer1 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  width: 85%;
  height: 85%;
  background-color: #086064;
  border-style: double;
  border-color: white;
  border-width: 8px;
  /*border: 2px solid #679403;*/
}

.shieldPlayer2 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  opacity: 0.75;
  width: 85%;
  height: 85%;
  background-color: #ff5969;
  border-style: double;
  border-color: white;
  border-width: 8px;
  /*border: 2px solid #679403;*/
}

.selectedShieldPlayer2 {
  /*background: #bfd70e;*/
  border-radius: 166%;
  width: 85%;
  height: 85%;
  background-color: #ff5969;
  border-style: double;
  border-color: white;
  border-width: 8px;
  /*border: 2px solid #679403;*/
}

.piece:hover {
  opacity: 1;
}

.gridAndChat {
  display: flex;
  width: 100vw;
}
.alertsBox {
  align-self: center;
}

.game {
  display: flex;
  flex-direction: column;
}

.alert {
  color: red;
}

.canDupPlayer1 {
  background: #086064;
  opacity: 0.45;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.canJumpPlayer1 {
  border: 1px dashed #086064;
  opacity: 0.45;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.canDupPlayer2 {
  background: #ff5969;
  opacity: 0.45;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.canJumpPlayer2 {
  border: 1px dashed #ff5969;
  opacity: 0.45;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.cantDupPlayer1 {
  background: #086064;
  opacity: 0.2;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.cantJumpPlayer1 {
  border: 1px dashed #086064;
  opacity: 0.2;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.cantDupPlayer2 {
  background: #ff5969;
  opacity: 0.2;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.cantJumpPlayer2 {
  border: 1px dashed #ff5969;
  opacity: 0.2;
  border-radius: 50%;
  width: 38%;
  height: 38%;
}

.turnPlayer1 {
  margin-left: 1.2vw;
  width: 2vw;
  height: 2vw;
  background-color: #086064;
}

.turnPlayer2 {
  margin-left: 1.2vw;
  width: 2vw;
  height: 2vw;
  background-color: #ff5969;
}

.player1Score {
  font-size: 2.2vw;
  font-weight: "bold";
  color: #086064;
}

.player2Score {
  font-size: 2.2vw;
  font-weight: "bold";
  color: #ff5969;
}

.chat {
  width: 30vw;
  height: 50vh;
  overflow-y: scroll;
}

.chatContainer {
  margin-top: 5vh;
  width: 30vw;
  height: 60vh;
  border: solid 1px black;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
}

.inputChat {
  width: 20vw;
  display: block;
}

.formChat {
  display: flex;
  height: 10vh;
}

.submitChat {
  width: 10vw;
}

.bottomChat {
  align-self: flex-end;
}

.message {
  width: 28vw;
}

.expeditor {
  float: right;
  width: 13.5vw;
  text-align: right;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(0, 132, 255);
  border-radius: 1vw;
  margin: 0.2vw 0vw 0vw 1vw;
  overflow-wrap: break-word;
  padding: 0.5vw;
}

.destinator {
  width: 13.5vw;
  font-weight: bold;
  color: aliceblue;
  background-color: #6b6e72;
  border-radius: 1vw;
  margin: 0.2vw 0vw 0vw 1vw;
  overflow-wrap: break-word;
  padding: 0.5vw;
}
.readyModal {
  display: flex;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
}

.endGameModal {
  display: flex;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
}

.countdownModal {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 10vh;
  width: 10vw;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .gameContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    width: 100vw;
  }
  .scoreDisplaying {
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0;
  }

  .game {
    height: 90vh;
  }

  .gridAndChat {
    height: 70vh;
  }

  .grid {
    margin: 1vw;
  }

  .cell {
    margin: 0;
    height: 10vw;
    width: 10vw;
  }

  .scores {
    width: 20%;
    padding: 0;
    font-size: 1.2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .energyPlayer1,
  .energyPlayer2 {
    width: 8vw;
    height: 8vw;
  }

  .energy2 {
    justify-content: flex-end;
  }

  .player1Color,
  .player2Color {
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    padding: 0;
  }

  .player1,
  .player2 {
    width: 40%;
    padding: 0;
  }
  .player1Score,
  .player2Score {
    font-size: 1.5rem;
  }

  .bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .mereBloc {
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .usernamePlayer1 {
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-left: 1vw;
    color: #086064;
  }

  .usernamePlayer2 {
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-right: 1vw;
    color: #ff5969;
  }

  .chatContainer {
    display: none;
  }

  .lobbyButton {
    text-align: center;
    margin: 0;
  }

  .btn {
    font-size: 0.6rem;
  }
}
