.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.nbPlayers {
  margin-top: 10vh;
  margin-left: 5vw;
  font-weight: bold;
  font-family: italic;
}

@media only screen and (max-width: 600px) {
  .lobby {
    width: 100%;
  }
  .cardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nbPlayers {
    margin: 0;
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 1rem;
  }
}
