.header {
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.left {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dupz {
  font-size: 4vw;
  font-weight: bold;
  width: 40vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.right {
  width: 30vw;
}
.discord {
  font-size: 1vw;
  height: 7.5vh;
  width: 30vw;
  padding-left: 2vw;
  display: flex;
  align-items: center;
}
.youtube {
  font-size: 1vw;
  height: 7.5vh;
  width: 30vw;
  padding-left: 2vw;
  display: flex;
  align-items: center;
}

.textIcon {
  padding-left: 1vw;
}

@media only screen and (max-width: 600px) {
  .dupz {
    font-size: 2rem;
  }

  .discord,
  .youtube {
    font-size: 0.4rem;
  }
  .left {
    width: 40vw;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .textIcon {
    width: 100%;
    font-size: 0.4rem;
  }
  .header {
    margin-bottom: 0;
  }
}
